body {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-search {
    border: 1px solid #dadde1;
    background: #fafafa;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
}

#search-form {
    display: block;
    width: 100%;
    font-weight: 400;
    margin-bottom: 20px;
    color: #495057;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: all 150ms ease-in-out;
}

.temperature {
    position: relative;
    top: 20px;
    font-size: 54px;
    line-height: 1;
    color:#043074;
}

.units {
    position: relative;
    top: -8px;
}

.clearfix img {
    margin-right: 10px;
    height: 94px;
    width: 94px;
}

li {
    font-size: 19px;
    list-style: none;  
}

#city {
    color:#043074;
}

#date {
    margin-bottom: 70px;
}

#description {
    text-transform: capitalize;
}


a:link {
    text-decoration: none;
}

footer {
    font-size: 12px;
    text-align: center;
}